Repository filewatcher/filewatcher-cli: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, test

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: toys rubocop --format=json --out=rubocop.json
  always:
  ...

test:
  depends_on:
  - remark
  - rubocop
  matrix:
  - bundle_cache:
      folder: /usr/local/bundle
      fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
    install_script:
    - apt-get update && apt-get install -y procps
    - gem install bundler
    - bundle update
  ...

Fix Cirrus CI
  .cirrus.yml
Due: remark, rubocop, test

Add Codecov token into Cirrus CI config
  .cirrus.yml
Due: remark, rubocop, test

Replace `:path` with `:github` for `filewatcher` in Gemfile
  Gemfile
Due: rubocop, test

Add documentation about plugins
  README.md
Due: remark

Fix a fix of Cirrus CI
  .cirrus.yml
Due: remark, rubocop, test

Fix `rubocop` Cirrus CI task
  .cirrus.yml
Due: remark, rubocop, test

Resolve RuboCop offense about class length
  lib/filewatcher/cli/command.rb
  lib/filewatcher/cli/command/options.rb
Due: rubocop, test

Make link to LICENSE file from README badge relative
  README.md
Due: remark

Lock to Filewatcher version `2.0.0.beta1`
  Gemfile
  filewatcher-cli.gemspec
Due: rubocop, test

Allow pre-release versions in version specs
  spec/filewatcher/cli/version_spec.rb
Due: rubocop, test

Update version to 1.0.0.beta1
  CHANGELOG.md
  lib/filewatcher/cli/constants.rb
Due: remark, rubocop, test

Replace custom `rspec` and `rubocop` toys tools with built-in ones
  .toys.rb
Due: rubocop, test

Update `gem_toys` to fixed version
  .toys.rb
  filewatcher-cli.gemspec
Due: rubocop, test

Drop `rspec` and `rubocop` toys, just use `bundle exec`
  .cirrus.yml
  .toys.rb
Due: remark, rubocop, test

Rename `.cirrus.yml` to `.yaml`
  .cirrus.yaml
Due: none

Update `filewatcher` to fixed version
  filewatcher-cli.gemspec
Due: rubocop, test

Remove `pry-byebug` development dependency
  filewatcher-cli.gemspec
  spec/spec_helper.rb
Due: rubocop, test

Fix `.cirrus.yaml` file name after file rename
  .cirrus.yaml
Due: none

Don't install `byebug` for JRuby
  filewatcher-cli.gemspec
Due: rubocop, test

Resolve offenses from new RuboCop
  filewatcher-cli.gemspec
Due: rubocop, test

Don't require not installed `pry-byebug` in JRuby
  spec/spec_helper.rb
Due: rubocop, test

Fix stunning `signal_dumper`, exit when signal trapped
  spec/filewatcher/cli/dumpers/signal_dumper.rb
Due: rubocop, test

Remove useless `RESTART_SIGNAL` constant stubbing
  spec/filewatcher/cli_spec.rb
Due: rubocop, test

Disable CI artefacts for RSpec
  .cirrus.yaml
Due: none

Switch RSpec formatter to `documentation`
  .rspec
Due: test

Fix `Filewatcher::CLI::SpecHelper` for `ShellWatchRun`
  lib/filewatcher/cli/spec_helper.rb
  spec/filewatcher/cli/spec_helper/shell_watch_run.rb
Due: rubocop, test

Install `git` in CI for Codecov
  .cirrus.yaml
Due: none

Add additional pause after `make_changes`
  spec/filewatcher/cli/spec_helper/shell_watch_run.rb
Due: rubocop, test

Update `rubocop-rspec` to compatible with RuboCop 1.0 version
  filewatcher-cli.gemspec
Due: rubocop, test

Remove patch-version lock for stable `rubocop`
  filewatcher-cli.gemspec
Due: rubocop, test

Update `remark` to new major version
  .remarkrc.yaml
  package.json
Due: remark

Improve required Ruby version lock, avoid 3.0
  filewatcher-cli.gemspec
Due: rubocop, test

Drop Ruby 2.4 support, SimpleCov 0.19 requires 2.5
  .cirrus.yaml
  .rubocop.yml
  filewatcher-cli.gemspec
Due: rubocop, test

Update Codecov token
  .cirrus.yaml
Due: none

Add `--version` option
  lib/filewatcher/cli/command.rb
Due: rubocop, test

Resolve new RuboCop offenses
  lib/filewatcher/cli/command/options.rb
Due: rubocop, test

Update `filewatcher` to a new version with Ruby 3 support
  filewatcher-cli.gemspec
Due: rubocop, test

Allow Ruby 3 in gem specs
  filewatcher-cli.gemspec
Due: rubocop, test

Add Ruby 3.0 for CI
  .cirrus.yaml
Due: none

Path conditions:
  remark: any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md
  rubocop: any of: .cirrus.yml, .gitignore, Gemfile, .toys.rb, .rubocop.yml, *.gemspec, **.rb, **.ru
  test: any of: .cirrus.yml, .gitignore, Gemfile, .toys.rb, .rspec, *.gemspec, lib/**, exe/**, spec/**
