Repository filewatcher/filewatcher-cli: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, test

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: vendor/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  bundle_install_script:
  - bundle config set --local path 'vendor/bundle'
  - bundle update
  container:
    image: ruby:latest
  os_prepare_script:
  - gem install bundler
  ...

test:
  depends_on:
  - remark
  - rubocop
  matrix:
  - bundle_cache:
      folder: vendor/bundle
      fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
    bundle_install_script:
    - bundle config set --local path 'vendor/bundle'
    - bundle update
    container:
      matrix:
  ...

Add additional coefficient for JRuby in CI
  lib/filewatcher/cli/spec_helper.rb
Due: rubocop, test

Include pre-releases in the gem badge
  README.md
Due: remark

Lock RuboCop version better
  filewatcher-cli.gemspec
Due: rubocop, test

Rename `master` git branch to `main`
  .cirrus.yaml
  CHANGELOG.md
  README.md
  filewatcher-cli.gemspec
Due: remark, rubocop, test

Enable `rubygems_mfa_required`
  filewatcher-cli.gemspec
Due: rubocop, test

Try to resolve issues with new TruffleRuby
  .cirrus.yaml
Due: remark, rubocop, test

Drop Ruby 2.5 support
  .cirrus.yaml
  .rubocop.yml
  filewatcher-cli.gemspec
Due: remark, rubocop, test

Add Ruby 3.1 for CI
  .cirrus.yaml
Due: remark, rubocop, test

Resolve new RuboCop offenses
  lib/filewatcher/cli/command.rb
  lib/filewatcher/cli/spec_helper.rb
  spec/filewatcher/cli/dumpers/env_dumper.rb
Due: rubocop, test

Try to fix CI for Windows
  .cirrus.yaml
Due: remark, rubocop, test

Move spec files to test CLI plugins
  lib/filewatcher/cli.rb
  lib/filewatcher/cli/spec_helper.rb
  lib/filewatcher/cli/spec_helper/dump_to_file.rb
  lib/filewatcher/cli/spec_helper/dumpers/env_dumper.rb
  lib/filewatcher/cli/spec_helper/dumpers/signal_dumper.rb
  lib/filewatcher/cli/spec_helper/dumpers/watched_dumper.rb
  lib/filewatcher/cli/spec_helper/shell_watch_run.rb
  spec/filewatcher/cli_spec.rb
  spec/spec_helper.rb
Due: rubocop, test

Update version to 1.0.0.beta2
  CHANGELOG.md
  lib/filewatcher/cli/constants.rb
Due: remark, rubocop, test

Require CLI constants for `BIN_DIR`
  lib/filewatcher/cli/spec_helper/shell_watch_run.rb
Due: rubocop, test

Update version to 1.0.0.beta3
  lib/filewatcher/cli/constants.rb
Due: rubocop, test

Require `bundle-audit` CI task as requirement for tests
  .cirrus.yaml
Due: remark, rubocop, test

Resolve new RuboCop offense
  lib/filewatcher/cli/spec_helper/shell_watch_run.rb
Due: rubocop, test

Fix errors in specs
  lib/filewatcher/cli/spec_helper.rb
  lib/filewatcher/cli/spec_helper/shell_watch_run.rb
Due: rubocop, test

Enable RSpec `--only-fail` feature
  .gitignore
  spec/spec_helper.rb
Due: remark, rubocop, test

Resolve RuboCop offense
  lib/filewatcher/cli/spec_helper/shell_watch_run.rb
Due: rubocop, test

Exclude ignored by git files for RuboCop
  .rubocop.yml
Due: rubocop

Merge inherited `Include` and `Exclude` in RuboCop config
  .rubocop.yml
Due: rubocop

Change Filewatcher dependency to stable release
  filewatcher-cli.gemspec
Due: rubocop, test

Update version to 1.0.0
  CHANGELOG.md
  lib/filewatcher/cli/constants.rb
Due: remark, rubocop, test

Resolve new RuboCop RSpec offenses
  spec/filewatcher/cli/env_spec.rb
Due: rubocop, test

Lock `rubocop-rspec` version stricter
  filewatcher-cli.gemspec
Due: rubocop, test

Remove dependencies of CI tasks because of different `only_if`
  .cirrus.yaml
Due: remark, rubocop, test

Adapt the plugin to a new specs for Array of paths
  lib/filewatcher/cli/spec_helper.rb
  lib/filewatcher/cli/spec_helper/dump_to_file.rb
  lib/filewatcher/cli/spec_helper/dumpers/env_dumper.rb
  lib/filewatcher/cli/spec_helper/shell_watch_run.rb
  spec/filewatcher/cli_spec.rb
Due: rubocop, test

Add specs for paths splitted by spaces
  .rubocop.yml
  filewatcher-cli.gemspec
  lib/filewatcher/cli/command.rb
  lib/filewatcher/cli/spec_helper/dump_to_file.rb
  lib/filewatcher/cli/spec_helper/shell_watch_run.rb
  spec/filewatcher/cli_spec.rb
Due: rubocop, test

Resolve new RuboCop offenses
  lib/filewatcher/cli/spec_helper/shell_watch_run.rb
  spec/filewatcher/cli_spec.rb
Due: rubocop, test

Resolve an error for Ruby 2.6
  spec/filewatcher/cli_spec.rb
Due: rubocop, test

Update version to 1.1.0
  CHANGELOG.md
  lib/filewatcher/cli/constants.rb
Due: remark, rubocop, test

Switch Codecov to a new uploader
  .cirrus.yaml
  filewatcher-cli.gemspec
  spec/spec_helper.rb
Due: remark, rubocop, test

Path conditions:
  remark: (any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md) or (any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md)
  rubocop: (any of: .cirrus.yaml, .gitignore, Gemfile, .toys.rb, .rubocop.yml, *.gemspec, **.rb, **.ru) or (any of: .cirrus.yml, .gitignore, Gemfile, .toys.rb, .rubocop.yml, *.gemspec, **.rb, **.ru)
  test: (any of: .cirrus.yaml, .gitignore, Gemfile, .toys.rb, .rspec, *.gemspec, lib/**, exe/**, spec/**) or (any of: .cirrus.yml, .gitignore, Gemfile, .toys.rb, .rspec, *.gemspec, lib/**, exe/**, spec/**)
