Repository filewatcher/filewatcher-cli: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, test

Path conditions:
  remark: (any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md) or (any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md)
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: (any of: .cirrus.yaml, .gitignore, Gemfile, .toys.rb, .rubocop.yml, *.gemspec, **.rb, **.ru) or (any of: .cirrus.yml, .gitignore, Gemfile, .toys.rb, .rubocop.yml, *.gemspec, **.rb, **.ru)
  test: (any of: .cirrus.yaml, .gitignore, Gemfile, .toys.rb, .rspec, *.gemspec, lib/**, exe/**, spec/**) or (any of: .cirrus.yml, .gitignore, Gemfile, .toys.rb, .rspec, *.gemspec, lib/**, exe/**, spec/**)

Disable new Codecov uploader for macOS on ARM
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Switch Codecov to a new uploader
  .cirrus.yaml
  filewatcher-cli.gemspec
  spec/spec_helper.rb
Due: remark, bundle-audit, rubocop, test

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Add commented development local `filewatcher` dependency
  Gemfile
Due: bundle-audit, rubocop, test

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  filewatcher-cli.gemspec
Due: remark, bundle-audit, rubocop, test

Move development dependencies from gemspec into Gemfile
  Gemfile
  filewatcher-cli.gemspec
Due: bundle-audit, rubocop, test

Resolve new RuboCop offenses
  lib/filewatcher/cli/command.rb
  lib/filewatcher/cli/spec_helper/shell_watch_run.rb
Due: rubocop, test

Resolve new RuboCop offense
  spec/filewatcher/cli_spec.rb
Due: rubocop, test

Switch to `truffleruby-community` in CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  filewatcher-cli.gemspec
Due: remark, bundle-audit, rubocop, test

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Try to fix Codecov uploader Cirrus CI cache
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Resolve new RuboCop offense
  lib/filewatcher/cli/spec_helper/shell_watch_run.rb
Due: rubocop, test

Run Codecov on macOS with the Rosetta work-around
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Remove artifacts for Cirrus CI RuboCop
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Remove `bundler` as development dependency
  Gemfile
Due: bundle-audit, rubocop, test

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  filewatcher-cli.gemspec
Due: remark, bundle-audit, rubocop, test

Update dependencies
  Gemfile
  filewatcher-cli.gemspec
Due: bundle-audit, rubocop, test

Resolve RuboCop warning about `plugins:` instead of `require:`
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offenses
  filewatcher-cli.gemspec
  lib/filewatcher/cli/spec_helper/shell_watch_run.rb
  spec/filewatcher/cli_spec.rb
Due: bundle-audit, rubocop, test

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Add Ruby 4.0 support
  .cirrus.yaml
  filewatcher-cli.gemspec
Due: remark, bundle-audit, rubocop, test

Improve Cirrus CI config
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Add `only_if` for Cirrus CI MRI tests
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Fail `remark` on any warning
  package.json
Due: remark

Change option for `remark-lint-list-item-indent` after major update
  .remarkrc.yaml
Due: remark

Improve `only_if` for RuboCop CI task
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Update version to 2.0.0
  CHANGELOG.md
  lib/filewatcher/cli/constants.rb
Due: remark, rubocop, test
